@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 89 80.3922% 10%;
    --primary-foreground: 0 0% 100%;

    --secondary: 85 25% 94%;
    --secondary-foreground: 85 50% 25%;

    --muted: 85 15% 93%;
    --muted-foreground: 85 10% 45%;

    --accent: 85 50% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 85 20% 86%;
    --input: 85 20% 86%;
    --ring: 85 45% 35%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 160 15% 8%;
    --foreground: 0 0% 98%;

    --card: 160 15% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 160 15% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 85 45% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 85 25% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 85 20% 16%;
    --muted-foreground: 85 15% 65%;

    --accent: 85 50% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 85 25% 22%;
    --input: 85 25% 22%;
    --ring: 85 45% 35%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
